
@for(course of courses(); track course.internalId) {

    <mat-card class="course-card mat-elevation-z10">

        <mat-card-header>

            <mat-card-title>{{course.description}}</mat-card-title>
        
        </mat-card-header>

        @if(course.iconUrl) {

            <img mat-card-image [ngSrc]="course.iconUrl" width="510" height="287" priority="true">
        }


        <mat-card-content>
            
            <p>{{course.longDescription}}</p>
          
        </mat-card-content>

        <mat-card-actions class="course-actions">

            <button mat-button class="mat-raised-button mat-primary" (click)="handleViewCourse(course.id)">
                VIEW COURSE
            </button>

            @if(authService.isLoggedIn$ | async) {
            
                @if(authService.roles()?.admin === true) {
    
                    <div class="crud-buttons-container">

                        <button mat-button class="mat-raised-button mat-secondary"
                                (click)="handleEditCourse(course)"
                        >
                            EDIT
                        </button>
    
                        <button mat-button class="mat-raised-button mat-secondary"
                                (click)="handleDeleteCourse(course)"
                        >
                            DELETE
                        </button>

                    </div>
    
                }
    
            }

        </mat-card-actions>

    </mat-card>
}