

:host {

    .courses-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 50px;
    }

    .course-row {
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .course-container {
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        
    }

    .buttons-container {
        // border: 1px solid black;
        // border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
    }

    

    .lessons-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        // padding: 50px;
    }

    .lesson-container {
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    button {
        border: 1px solid black;
        border-radius: 4px;
    }
}