<div class="logos-container">

    <div>
        <img src="../../../assets/FriendlyChatLogo.png" class="friendly-chat-logo" />
        <span class="text-navy-600 text-5xl font-light mt-5">Friendly Chat</span>
    </div>

    <div class="firebase-logo">
        <img src="../../../assets/WithFirebase.png" class="firebase-logo" />
    </div>

</div>

<div class="login-container">

    <button class="login-button" (click)="this.authService.login()">
        <img src="../../../assets/Google.png" class="w-8 m-2" />
        <span class="text-slate-700 text-xl flex-grow">Sign in with Google</span>
    </button>

    <div class="login-form-container">

        <p class="text-slate-700 text-xl flex-grow user-status-switch">{{userStatus() === 'new' ? SignInMessage.NEW : SignInMessage.EXISTING}}</p>

        <form [formGroup]="form" class="login-form">

            <mat-form-field appearance="outline">

                <input placeholder="Email address" type="email" matInput formControlName="email">
          
            </mat-form-field>

            <mat-form-field appearance="outline">

                <input placeholder="password" type="password" matInput formControlName="password">
          
            </mat-form-field>

            <button class="login-button" (click)="handleUserLogin()">

                <img src="../../../assets/FriendlyChatLogo.png" class="small-logo" />
                <span class="text-slate-700 text-xl flex-grow">{{userStatus() === 'new' ? SignInMessage.CREATE_ACCOUNT : SignInMessage.SIGN_IN}}</span>

            </button>

            <p class="text-slate-700 text-md flex-grow pointer" (click)="updateUserStatus()">{{userStatus() === 'new' ? SignInMessage.ACCOUNT_EXISTS : SignInMessage.NO_ACCOUNT}}</p>

        </form>

    </div>

</div>
